@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&family=Montserrat:wght@800&family=Roboto:wght@700&family=Teko:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
